
#page-content {
	padding-top:200px;
	text-align:center;
}

#page-content > * {
	display:block;
	margin:0;
	padding:0;
	color:#fff;
	text-align:center;
}
#page-content > h1 {
	font-size:80px;
}
#page-content > h2 {
	font-size:40px;
}

#page-content > a {
	display:inline-block;
	margin:200px auto 30px auto;
	padding:20px 70px;
	font-size:36px;
	text-align:center;
	cursor:pointer;
	border:none;
	border-radius:12px;
	background-color:#fff;
	color:#000;
	text-decoration:none;
	box-shadow:5px 8px 0 0 #181818;
}
