
.button {
	border:none;
	text-align:center;
	cursor:pointer;
	border-radius:12px;
	background-color:#323232;
	color:#fff;
	text-decoration:none;
	box-shadow:5px 8px 0 0 #181818;
	font-weight:bold;
	min-height:90px;
}

.button:hover {
	background-color:#fff;
	color:#323232;
}

.button:focus {
	box-shadow:0px 0px 0px 2px #74dfff;
}

.button:disabled {
	background-color:#323232;
	color:#525252;
	cursor:default;
}

.button > .loading {
	display:block;
	margin:0 auto;
	height:32px;
}

/* Reset styling for GeoGebra segments */
.geogebra-div .button {
	border:unset;
	text-align:unset;
	cursor:unset;
	border-radius:unset;
	background-color:unset;
	color:unset;
	text-decoration:unset;
	box-shadow:unset;
	font-weight:unset;
	min-height:unset;
}

.geogebra-div .button:hover {
	background-color:unset;
	color:unset;
}

.button:focus {
	box-shadow:unset;
}

.button:disabled {
	background-color:unset;
	color:unset;
	cursor:unset;
}

.button > .loading {
	display:unset;
	margin:unset;
	height:unset;
}
