:root {
	--card-border-radius:8px;
	--desc-height:30%;
}

.card {
	position: relative;
	padding: 0;
	border: none;
	display: inline-block;
	border-radius:var(--card-border-radius);
	margin: 0 25px 65px 25px;
	vertical-align:top;
	width: 300px;
	min-height:290px;
	max-height:350px;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 15px 15px 0 0 #323232;
	cursor: pointer;
}

.card > ul > li {
	text-align:left;
}
.card > div > span {
	display:block;
	margin:20px;
	font-size:22px;
}

/* Card Wrapper, inherits height and width from card*/
.card > div {
	position: absolute;
	height:100%;
	width:100%;
	top: 0;
}

/* Top part contained within Card Wrapper */
.card-header {
	display:table;
	border-top-left-radius:var(--card-border-radius);
	border-top-right-radius:var(--card-border-radius);
	width:100%;
	height:calc(100% - var(--desc-height));
	color: #ffffff;
	text-align: center;
}

/* Class to alter the bottom part of the content within Card Wrapper */
.description-wrapper {
	width:100%;
	height:var(--desc-height);
	top:0;

}

/* Unsorted list of course cards */
.description-wrapper > ul {
	color: #000000;
	font-size: 25px;
	list-style-type: square;
	list-style-position: inside;
}

/* Description of module cards */
.description-wrapper > p {
	width: 90%;
	overflow:hidden;
	white-space: nowrap;
	margin-left: auto;
	position: relative;
	font-size: 21px;
	margin-right: auto;
	text-overflow: ellipsis;
}

.card-header > div {
	display:table-cell;
	padding:20px;
	margin:0;
	vertical-align:middle;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}

.card-header > div > h3 {
	margin:0;
	padding:0;
	width:calc(300px - 20px * 2);
	font-size:26px;
	line-height:0.98;
	max-height:160px;
	overflow-wrap:break-word;
}

.card-header > button {
	position:absolute;
	top:0;
	right:0;
	height:48px;
	width:48px;
	border:none;
	background-color:transparent;
	cursor: pointer;
}
