/* buttons */
.button-container {
	height: 52px;
	width:100%;
	white-space: nowrap;
	padding-top:calc(128px - 52px);
}

#page-content{
	margin-left:auto;
	margin-right:auto;
	position: relative;
    width: 92%;
    height: 100%;
    z-index: 0;
}

.button-container>button {
	display: inline-block;
	padding:0;
	margin:0 4px;
	height:100%;
	width:calc(100% / 2 - 2 * 4px);
	border:none;
	outline:none;
	vertical-align: middle;
	color: #fff;
	background-color: #323232;
	box-shadow:5px 8px 0 0 #181818;
	cursor:pointer;
}
.button-container > button:first-of-type {
	margin-left:0;
	width:calc(100% / 4 - 4px);
}
.button-container > button:last-of-type {
	margin-right:0;
	width:calc(100% / 4 - 4px);
}

.button-container>button:disabled {
	color:rgba(255,255,255,0.15);
	pointer-events: none;
}

.button-container>button:focus {
	box-shadow: 0px 0px 0px 2px #74dfff;
}

.button-container>button:hover, .button-container>button.selected {
	background-color:#fff;
	color:#000;
}

#courses-button {
	border-top-left-radius:12px;
	border-bottom-left-radius:12px;
}
#question-button {
	border-top-right-radius:12px;
	border-bottom-right-radius:12px;
}

.button-container>button>h2 {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 16px;
	margin: 0;
	font-weight: normal;
	font-size: 36px;
}

/* views */
#view-container {
	margin:0;
}

#view-container>div, #view-container>div>div {
	display: none;
}

#view-container>div.visible, #view-container>div>div.visible {
	display: block;
}

#view-container>div {
	position: relative;
	margin: 64px 0 0 0;
	padding: 0;
	width: auto;
	list-style-type: none;
	overflow-y: hidden;
	text-align: center;
}
