#loading-icon {
	vertical-align: middle;
	width: 25px;
	margin:100px 0 0 0;
	padding: 15px;
	display: inline-block;
	-webkit-animation: rotation 2s infinite linear; /* Chr, Saf */
	animation: rotation 2s infinite linear; /* IE >9, Fx >15, Op >12.0 */
}

#question-container {
	color: #ffffff;
}

@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* IE 10, Fx 16+, Op 12.1+ */
	}
	to {
		-webkit-transform: rotate(360deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* IE 10, Fx 16+, Op 12.1+ */
	}
}

#question-segments {
	display:block !important;
	margin:0;
	padding:0;
	color:#fff;
	font-size:22px;
}

#question-segments > div {
	overflow-wrap:break-word;
}

#question-segments > div > input {
	margin:8px;
}

#question-segments > .questions-complete > img {
	width:350px;
	height:350px;
	max-width:30%;
}

#question-submit-button, #question-continue-button, #question-retry-button, #new-question-button {
	margin:32px 8px;
	padding:20px 20px;
	font-size:28px;
	width:230px;
	vertical-align:top;
}
#question-submit-button.hidden, #question-continue-button.hidden, #question-retry-button.hidden, #new-question-button.hidden {
	display:none;
}

#question-segments > .geogebra-container > .geogebra-scaling-container {
	width:75vw;
	height:calc(75vw * 9 / 16);
	margin:0 auto;
}

#question-segments > .geogebra-container {
	margin-top: 32px;
}
#question-segments > .geogebra-container > .button {
	font-size: 28px;
	margin: 32px 0 32px 0;
	padding: 0 16px;
}

#question-segments > .image > img {
	max-width:100%;
}
