
.message-box {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	backdrop-filter:blur(10px);
	text-align:center;
}

.message-box > div {
	display:inline-block;
	margin:30% 0 0 0;
	padding:20px;
	background-color:#3a3a3a;
	box-shadow:5px 8px 0 0 #181818;
	border-radius:12px;
	font-size:30px;
	color:#fff;
	opacity:0;
	-webkit-transform:scale(0, 0);
	-ms-transform:scale(0, 0);
	transform:scale(0, 0);
	width:425px;
	max-width:calc(100% - 50px);
}
.message-box > div.show {
	animation-name:message-box-animation;
	animation-duration:0.175s;
	animation-iteration-count:1;
	animation-timing-function:ease-in-out;
	opacity:1;
	-webkit-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	transform:scale(1, 1);
}

@keyframes message-box-animation {
	0% {
		-webkit-transform:scale(0, 0);
		-ms-transform:scale(0, 0);
		transform:scale(0, 0);
	}
	80% {
		-webkit-transform:scale(1.1, 1.1);
		-ms-transform:scale(1.1, 1.1);
		transform:scale(1.1, 1.1);
	}
	100% {
		-webkit-transform:scale(1, 1);
		-ms-transform:scale(1, 1);
		transform:scale(1, 1);
	}
}


.message-box > div > button {
	display:block;
	margin:30px 0 0 0;
	font-size:24px;
	width:100%;
}
