
#question-editor-segments {
	color:#fff;
	font-size:22px;
}

#question-editor-segments > div {
	position:relative;
	padding:70px 0;
	border-bottom:2px dashed #aaa;
}
#question-editor-segments > div:first-of-type {
	border-top:2px dashed #aaa;
}

#question-editor-segments > div > div.title > h2 {
	margin:0;
	padding:0;
	display:inline-block;
	width:calc((100% - 105px - 40px) * 0.5);
	font-size:32px;
	color:#fff;
}

#question-editor-segments > .mathjax-latex > textarea, #question-editor-segments > .mathjax-latex > p, #question-editor-segments > .mathjax-latex-answer > .latex{
	display: inline-block;
	margin:0;
	padding:0;
	width:calc((100% - 105px - 40px) * 0.5);
	height:500px;
	background-color:transparent;
	resize:none;
	color:#fff;
	border:1px solid #fff;
	vertical-align:middle;
	font-size:20px;
	overflow-y:auto;
}
#question-editor-segments > .mathjax-latex > textarea {
	-moz-tab-size:2;
	-o-tab-size:2;
	tab-size:2;
}

/* mathjax-latex-answer common */
#question-editor-segments > .mathjax-latex-answer > .latex > input {
	margin:8px;
}
#question-editor-segments > .mathjax-latex-answer > .latex {
	height:100px;
}

#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > *,
#question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > * {
	margin:2.5px 2.5px;
}

#question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > .regex-match {
	background-color:#58d68d;
}
#question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > .regex-no-match,
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > input:invalid {
	background-color:#cd6155;
}
#question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > .regex-tester-status {
	display:inline-block;
	width:240px;
	text-align:left;
}
/* Hide input number arrrows */
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > .numeric-answer-input::-webkit-outer-spin-button,
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > .numeric-answer-input::-webkit-inner-spin-button {
	-webkit-appearance:none; /* Chrome, Safari, Edge, Opera */
	margin:0;
}
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > .numeric-answer-input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

#question-editor-segments > .mathjax-latex-answer > .answer-wrapper, #question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper, #question-editor-segments > .image > div, #question-editor-segments > .youtube > div {
	margin:10px;
}
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > span, #question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > span, #question-editor-segments > .image > div > span, #question-editor-segments > .youtube > div > span {
	color:#fff;
	font-size:24px;
}
#question-editor-segments > .mathjax-latex-answer > .answer-wrapper > input, #question-editor-segments > .mathjax-latex-answer > .regex-tester-wrapper > input, #question-editor-segments > .image > div > input, #question-editor-segments > .youtube > div > input {
	font-size:24px;
	padding:0 10px;
}

#question-editor-segments > .geogebra-container > .geogebra-scaling-container {
	width:75vw;
	height:calc(75vw * 9 / 16);
	margin:0 auto;
}

#question-editor-segments > .image > img {
	max-width:100%;
}

#question-editor-segments > div > .segment-toolbar {
	position:absolute;
	left:4px;
	top:12px;
}
#question-editor-segments > div > .segment-toolbar > * {
	margin:0 4px;
	padding:8px 10px;
	min-height:0;
}
#question-editor-segments > div > .segment-toolbar > *:hover > img {
	-webkit-filter:invert(100%);
	filter:invert(100%);
}

#question-editor-bottom-container {
	margin:20px 0 0 0;
}

#question-editor-bottom-container button {
	display:block;
	margin:10px auto;
	padding:15px 35px;
	width:500px;
	font-size:28px;
}

#question-editor-segments > div.youtube > div > input{
	width: 680px;
}

#question-editor-create-question-button {
	width:320px !important;
	margin:200px auto 50px auto !important;
}

#question-editor-question-editor-message {
	margin:50px;
	padding:0;
	text-align:center;
	font-size:28px;
	font-weight:bold;
	color:#fff;
}
#question-editor-question-editor-message.error {
	color:#f00;
	text-decoration:underline;
}

#question-editor-delete-button.hidden {
	display:none;
}
#question-editor-delete-button {
	margin-bottom:50px !important;
	width:320px !important;
	background-color:#a93434;
}
#question-editor-delete-button:hover {
	background-color:#fff;
}
#question-editor-delete-button:disabled {
	background-color:#323232;
}
