#question-list-container {
	justify-content:center;
	width:100%;
}

#question-list-container > button {
	display:block;
	background-color:#323232;
	padding:0 20px;
	width:420px;
	margin:4px auto;
	border:none;
	color:#fff;
	font-size:20px;
}

#question-list-container > button:hover {
	background-color:#fff;
	color:#000;
}

#question-list-container > button:focus {
	box-shadow:0px 0px 0px 2px #74dfff;
}

#question-list-container > button > p {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
