#question-list-container {
	justify-content:center;
	width:100%;
}

#question-list-container > button {
	display:block;
	padding:0 20px;
	width:420px;
	margin:10px auto;
	font-size:20px;
}

#question-list-container > button.create {
	background-color: #888;
}

#question-list-container > button.create:hover {
	background-color: #fff;
}

#question-list-container > button > p {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#question-list-container > button > img {
	display:block;
	margin:0px auto 0 auto;
	width:24px;
	padding:1em 0;
}