
#content-container>* {
	display: inline-block;
	padding: 0;
	width: calc((100% - 105px - 40px) * 0.5);
	height: 500px;
	background-color: transparent;
	resize: none;
	color: #ffffff;
	border: 1px solid #ffffff;
	vertical-align: middle;
	font-size: 20px
}

#latex-input {
	margin: 135px 0 0 105px;
}

#latex-output {
	margin: 135px 0 0 0;
}

#create-question-button {
	margin:20px 0 0 125px;
	padding:25px 0;
	width:400px;
	font-size:28px;
	font-weight:bold;
	cursor:pointer;
	transform:skew(-20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(-20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(-20deg, 0deg); /* IE 9 */
}
#create-question-button > p {
	margin:0;
	padding:0;
	transform:skew(20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(20deg, 0deg); /* IE 9 */
}

textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}
