#course-editor-container {
	margin:64px 0 0 0;
	text-align:center;
	color:#fff;
}
#course-editor-container > div {
	margin:50px;
}
#course-editor-container > div > h3 {
	margin:0;
	font-size:28px;
}
#course-editor-container > div > input[type="text"] {
	width:360px;
	font-size:28px;
	vertical-align:middle;
}
#course-editor-container > div > input[type="color"] {
	margin:0;
	padding:0;
	width:36px;
	height:36px;
	vertical-align:middle;
}
#course-editor-container > div > textarea {
	width:500px;
	max-width:500px;
	height:300px;
	font-size:20px;
}
#course-editor-container > div > button {
	padding:25px 0;
	width:400px;
	font-size:28px;
	font-weight:bold;
	cursor:pointer;
	transform:skew(-20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(-20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(-20deg, 0deg); /* IE 9 */
}
#course-editor-container > div > button > p {
	margin:0;
	padding:0;
	transform:skew(20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(20deg, 0deg); /* IE 9 */
}
#course-editor-container > #course-editor-message {
	margin:0;
	padding:0;
	font-size:28px;
	font-weight:bold;
}
#course-editor-container > #course-editor-message.error {
	color:#f00;
	text-decoration:underline;
}
