#course-editor-container {
	margin:0;
	text-align:center;
	color:#fff;
}
#course-editor-container > div {
	margin:0 0 50px 0;
}
#course-editor-container > div > h3 {
	margin:0;
	font-size:28px;
}
#course-editor-container > div > input[type="text"] {
	width:360px;
	font-size:28px;
	vertical-align:middle;
}
#course-editor-container > div > input[type="color"] {
	margin:0;
	padding:0;
	width:36px;
	height:36px;
	vertical-align:middle;
}
#course-editor-container > div > textarea {
	width:500px;
	max-width:500px;
	height:300px;
	font-size:20px;
}
#course-editor-container > div > button {
	padding:25px 0;
	width:400px;
	font-size:28px;
}
#course-editor-container > div > button.hidden {
	display:none;
}
#course-editor-container > #course-editor-message {
	margin:0;
	padding:0;
	font-size:28px;
	font-weight:bold;
}
#course-editor-container > #course-editor-message.error {
	color:#f00;
	text-decoration:underline;
}

#course-editor-delete-button {
	background-color:#a93434;
}
#course-editor-delete-button:hover {
	background-color:#fff;
}
#course-editor-delete-button:disabled {
	background-color:#323232;
}
