
h2 {
	margin:0 auto 0 auto;
	padding-top:200px;
	font-size:75px;
	color:#ffffff;
	text-align:center;
}

#container {
	margin:0 auto;
	padding:20px;
	width:500px;
	background-color:#3A3A3A;
	border-radius:12px;
	box-shadow:5px 8px 0 0 #181818;
}

#container > label {
	display:block;
	color:#ffffff;
	text-align:center;
	font-size:36px;
}
#container > input {
	display:block;
	margin:0 auto 40px auto;
	padding:10px;
	border:none;
	font-size:28px;
	text-align:center;
	border-radius:12px;
	box-shadow:5px 8px 0 0 #181818;
}

#container > button, a {
	display:block;
	margin:0 auto 30px auto;
	padding:20px 70px;
	font-size:36px;
	text-align:center;
	cursor:pointer;
	border:none;
	border-radius:12px;
	background-color:#fff;
	color:#000;
	text-decoration:none;
	box-shadow:5px 8px 0 0 #181818;
}

a {
	position:absolute;
	right:10px;
	top:10px;
	padding:10px 35px;
	width:120px;
	font-size:20px;
}
