
#page-content {
	margin:155px 0 0 125px;
	text-align:center;
	color:#fff;
}
#page-content > div {
	margin:20px;
}
#page-content > div > h3 {
	margin:0;
	font-size:28px;
}
#page-content > div > input[type="password"] {
	width:360px;
	font-size:28px;
	vertical-align:middle;
}
#page-content > div > button {
	padding:10px 25px;
	font-size:28px;
	font-weight:bold;
	width:300px;
	cursor:pointer;
	transform:skew(-20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(-20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(-20deg, 0deg); /* IE 9 */
}
#page-content > div > button > p {
	margin:0;
	padding:0;
	transform:skew(20deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
	-webkit-transform:skew(20deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
	-ms-transform:skew(20deg, 0deg); /* IE 9 */
}
