
body > h2 {
	margin:0;
	padding:40px 0 5px 0;
	font-size:55px;
	color:#ffffff;
	text-align:center;
}
body > h2:first-of-type {
	padding-top:60px;
}

.form {
	margin:0 auto 80px auto;
	padding:20px 0;
	width:500px;
	text-align:center;
	color:#fff;
	background-color:#3A3A3A;
	border-radius:12px;
	box-shadow:5px 8px 0 0 #181818;
}
.form > div {
	margin:20px;
}
.form > div > h3 {
	margin:0;
	font-size:32px;
}
.form > div > input[type="password"] {
	padding:10px;
	width:360px;
	font-size:35px;
	vertical-align:middle;
	border:none;
	border-radius:12px;
	text-align:center;
	box-shadow:5px 8px 0 0 #181818;
}
.form > div > button {
	margin-top:40px;
	padding:20px 35px;
	font-size:28px;
	font-weight:bold;
	width:350px;
	cursor:pointer;
}

#message {
	font-size:22px;
}

#delete-button {
	background-color:#a93434;
}
#delete-button:hover {
	background-color:#fff;
}
#delete-button:disabled {
	background-color:#323232;
}
