body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page-content-fixed */
#page-content-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#page-content-fixed>* {
    pointer-events: auto;
}

/* Header */
#header-container {
    display: inline-block;
    width: calc(100% - 350px); /* 350px is the width of the #page-name-container */
    margin: 0;
    padding: 2px 0;
    text-align: right;
    vertical-align: top;
    font-size: 0;
    background-color:  #323232;
    white-space: nowrap;
}

#header-level-container>span {
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    font-size: 40px;
    color: white;
}

#header-level-container>span:last-of-type {
    padding-right: 64px;
}

#header-xp-progress-bar {
    display: inline-block;
    vertical-align: middle;
}

#header-xp-progress-bar-back {
    position: relative;
    width: 256px;
    height: 16px;
    background-color: black;
}

#header-xp-progress-bar-front-green {
    height: calc(100% - 128px); /* 128px is the height of #page-name-container */
    transition: width 0.5s ease-in-out;
    background-color: rgb(116, 223, 255);
}

#header-xp-progress-bar-front-white {
    height: 100%;
    position: absolute;
    transition: width 1.0s ease-in-out;
    background-color: white;
}

/* Page name */
#page-name-container {
    padding: 0 0 0 50%;
    margin: 0 0 0 -50%;
    background-color: white;
    width: 350px;
    height: 128px;
    display: inline-block;
    transform: skew(-45deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
    -webkit-transform: skew(-45deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: skew(-45deg, 0deg); /* IE 9 */
}

#page-name-container>span {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 128px;
    font-size: 85px;
    font-weight: normal;
    transform: skew(45deg, 0deg); /* IE 10, Fx 16+, Op 12.1+ */
    -webkit-transform: skew(45deg, 0deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: skew(45deg, 0deg); /* IE 9 */
}

/* Sidebar */
#sidebar {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    background-color: #323232;
    list-style-type: none;
}

#sidebar>li {
    padding: 16px;
    width: 64px;
    transition: filter 0.25s, -webkit-filter 0.25s;
    font-size: 0;
}

#sidebar>li:first-of-type {
    padding-top: 32px;
}

#sidebar>li.active {
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

#sidebar>li:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#sidebar>li>a>img {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* End of fixed-page-content */
/* page-content */

/* button-container */
.button-container {
    height: 52px;
    white-space: nowrap;
}

.button-container>button {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 16px;
    height: 100%;
    width: calc((100% - 30px) / 3);
    outline : none;
    border: none;
    background-color: #323232;
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
}

.button-container>button:focus {
    outline: 4px solid  rgb(116, 223, 255);
}

.button-container>button>h2 {
    padding-top: 0;
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    -ms-transform: skew(45deg, 0deg);
}

.button-container>button:hover {
    cursor: pointer;
    background-color: white;
}

.button-container>button.active {
    background-color: white;
}

#top-button-container {
    padding-top: 64.5px;
    padding-left: 336px;
    width: calc(100% - 336px);
}

#bot-button-container {
    padding-top: 0;
    padding-left: 185px;
    width: calc(100% - 336px);
}

#bot-button-container>button:last-of-type {
    padding-right: 150px;
    margin-right: -150px;
    width: calc((100% - 30px) / 3 + 150px);
}

/* view-container */
.view-container>ul {
    display: none;
}

.view-container>ul.visible {
    display: block;
}

/* view-favourites */
#view-favourites {
    position: relative;
    margin: 64px 0 0 96px; /* 96px is the width of the sidebar */
    padding: 0;
    width: auto;
    list-style-type: none;
    overflow-y: hidden;
    text-align: center;
}

#view-favourites>li {
    display: inline-block;
    margin-bottom: 65px;
    margin-left: 50px;
    width: 389.75px;
    vertical-align: middle;
    text-align: left;
    background-color: white;
    box-shadow: 15px 15px 0 0 #323232;
}

#view-favourites>li>a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#view-favourites>li>a>h3 {
    padding: 0.5em 0.5em;
    margin: 0 0;
    text-align: center;
    width: calc(100% - 0.5em * 2);
    font-size: 30px;
    line-height: 1;
    border: none;
    background-color: #46bbfe;
    color: white;
}

#view-favourites>li>a>ul {
    color: #46bbfe;
    font-size: 25px;
    padding: 10px 0 10px 30px;
    list-style-type: square;
    list-style-position: inside;
}

#view-favourites>li>a>ul>li {
    padding: 10px 0;
}