body {
    background-color: black;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header-container {
    background-color:  #323232;
    text-align: right;
    width: calc(100vw - min(25.0vw, 44.4vh));
    right: 0;
    position: absolute;
}

#header-level-container {
    padding: min(0.3125vw, 0.55vh) 5% min(0.3125vw, 0.55vh) 0;
    display: inline-block;
    right: 0;
    font-size: min(2.5vw, 4.44vh);
    vertical-align: middle;
}

#header-level-container>p {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
}

#header-xp-progress-bar {
    vertical-align: middle;
    display: inline-block;
}

#header-xp-progress-bar-back {
    width: min(18.75vw, 33.3vh);
    height: min(1.25vw, 2.22vh);
    background-color: black;
}

#header-xp-progress-bar-front {
    width: 0%;
    height: 100%;
    background-color: white;
}

#page-name-container {
    padding: 0;
    margin: 0;
    background-color: white;
    width: min(25.0vw, 44.4vh);
    height: min(10vw, 17.76vh);
    position: absolute;
    font-size: min(6.25vw, 11.1vh);
    line-height: min(10vw, 17.76vh);
    text-align: center;
}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #323232;
    position: absolute;
    padding-top: min(2.5vw, 4.44vh);
    height: auto;
    width: min(6.25vw, 11.1vh);
    top: min(10vw, 17.76vh);
    bottom: 0;
}

#sidebar>li {
    padding-bottom: min(1.55125vw, 2.775vh);
    padding: 15%;
    width: 70%;
    transition: filter 0.25s, -webkit-filter 0.25s;
}

#sidebar>li:target {
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

#sidebar>li:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#sidebar>li>a>img {
    width: 100%;
    height: 100%;
}