html,
body {
    overflow: hidden;
}

body {
    background-color: black;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page-content-fixed */
#page-content-fixed {
    position: fixed;
    pointer-events: none;
}

#page-content-fixed>* {
    pointer-events: auto;
}

/* Header */
#header-container {
    font-size: 0;
    background-color:  #323232;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    width: calc(100vw - min(25.0vw, 44.4vh));
}

#header-level-container {
    padding: min(0.3125vw, 0.55vh) 5% min(0.3125vw, 0.55vh) 0;
    display: inline-block;
    font-size: min(2.5vw, 4.44vh);
    vertical-align: middle;
}

#header-level-container>p {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
}

#header-xp-progress-bar {
    display: inline-block;
}

#header-xp-progress-bar-back {
    width: min(18.75vw, 33.3vh);
    height: min(1.25vw, 2.22vh);
    background-color: black;
    position: relative;
}

#header-xp-progress-bar-front-green {
    height: 100%;
    transition: width 0.5s ease-in-out;
    background-color: rgb(116, 223, 255);
}

#header-xp-progress-bar-front-white {
    height: 100%;
    position: absolute;
    transition: width 1.0s ease-in-out;
    background-color: white;
}

/* Page name */
#page-name-container {
    padding: 0 0 0 calc(min(10vw, 17.76vh) / 2);
    margin: 0 0 0 calc(min(10vw, 17.76vh) / -2);
    background-color: white;
    width: min(25.0vw, 44.4vh);
    height: min(10vw, 17.76vh);
    font-size: min(6.25vw, 11.1vh);
    line-height: min(10vw, 17.76vh);
    text-align: center;
    display: inline-block;
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);

}

#page-name-container>span {
    display: block;
    transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    -ms-transform: skew(45deg, 0deg);
    font-weight: normal;
}

/* Sidebar */
#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #323232;
    padding-top: min(2.5vw, 4.44vh);
    height: calc(100vh - min(10vw, 17.76vh));
    width: min(6.25vw, 11.1vh);
}

#sidebar>li {
    padding-bottom: min(1.55125vw, 2.775vh);
    padding: 15%;
    width: 70%;
    transition: filter 0.25s, -webkit-filter 0.25s;
    font-size: 0;
}

#sidebar>li.active {
    filter: invert(90%);
    -webkit-filter: invert(90%);
}

#sidebar>li:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#sidebar>li>a {
    font-size: 0;
    line-height: 0;
}

#sidebar>li>a>img {
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Page-content */
#page-content {
    overflow: none;
}

/* button-container */
.button-container {
    height: min(3.75vw, 6.66vh);
}

.button-container>button:last-of-type {
    padding-right: 100vw;
    margin-right: -100vw;
    width: calc((100vw - min(25.0vw, 44.4vh)) / 3 - 1vw + 100vw);
}

.button-container>button {
    font-size: min(2.5vw, 4.44vh);
    background-color: #323232;
    border: none;
    padding: 0;
    margin: 0 0 0 1%;
    vertical-align: middle;
    text-align: center;
    float: left;
    height: 100%;
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    width: calc((100vw - min(25.0vw, 44.4vh)) / 3 - 1vw);
}
.button-container>button>span {
    display: block;
    transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    -ms-transform: skew(45deg, 0deg);
}

.button-container>button:hover {
    cursor: pointer;
    background-color: white;
}

.button-container>button.active {
    background-color: white;
}

#top-button-container {
    padding-top: min(5vw, 8.88vh);
    padding-left: min(25.0vw, 44.4vh);
}

#bot-button-container {
    padding-top: min(5vw, 8.88vh);
    padding-left: min(13.5vw, 24.0vh);
}

/* view-container */
.view-container>ul {
    display: none;
}

.view-container>ul.visible {
    display: block;
}

/* view-favourites */
#view-favourites {
    list-style-type: none;
    margin-left: 15vw;
    padding: 0;
    width: 74vw;
    height: 22vh;
    margin-top: min(5vw, 8.88vh);
}

#view-favourites>li {
    float: left;
    margin-right: 7%;
    height: 100%;
    width: calc(86% / 3);
    background-color: white;
}

#view-favourites>li:last-of-type {
    margin-right: 0%;
}

#view-favourites>li>a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

#view-favourites>li>a>p {
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #46bbfe;
    width: 100%;
    height: 30%;
    font-size: min(2vw, 3.552vh);
    align-items: center;
    justify-content: center;
    display: flex;
}

#view-favourites>li>a>ul {
    list-style-type: square;
    color: #46bbfe;
    font-size: min(1.6vw, 2.8416vh);
    height: 70%;
    padding-left: min(5vw, 8.88vh);
}